/* Reset */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   transition: background 0.3s ease, color 0.3s ease;
}

body {
   background: hsl(212, 45%, 89%);
   font-family: 'Outfit', sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   position: relative;
}

body.dark {
   background: #0d1117;
}

/* Card container */
.card {
   background: white;
   padding: 24px;
   width: 320px;
   border-radius: 18px;
   box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
   text-align: center;
   animation: slideUp 0.5s ease;
}

body.dark .card {
   background: #161b22;
   color: white;
}

/* Slide up animation */
@keyframes slideUp {
   from {
      opacity: 0;
      transform: translateY(20px);
   }
   to {
      opacity: 1;
      transform: translateY(0);
   }
}

/* Title */
.title {
   font-size: 1.4rem;
   font-weight: 700;
   margin-bottom: 20px;
   color: hsl(218, 44%, 22%);
}

body.dark .title {
   color: #e6edf3;
}

/* Input field */
#qrText {
   width: 100%;
   padding: 12px;
   margin-bottom: 16px;
   border-radius: 10px;
   border: 1px solid #ccc;
   font-size: 1rem;
   outline: none;
}

body.dark #qrText {
   background: #0d1117;
   color: #e6edf3;
   border-color: #30363d;
}

/* Button */
#generateBtn {
   width: 100%;
   padding: 12px;
   background: hsl(228, 45%, 44%);
   color: white;
   border: none;
   border-radius: 10px;
   cursor: pointer;
   font-size: 1rem;
   margin-bottom: 20px;
   transition: 0.2s;
}

#generateBtn:hover {
   background: hsl(228, 45%, 35%);
}

body.dark #generateBtn {
   background: #238636;
}

body.dark #generateBtn:hover {
   background: #1f7a30;
}

/* Dark mode button */
.theme-btn {
   position: absolute;
   top: 20px;
   right: 20px;
   padding: 8px 12px;
   font-size: 1.2rem;
   border: none;
   background: white;
   border-radius: 50%;
   cursor: pointer;
   transition: 0.3s;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.theme-btn:hover {
   transform: scale(1.1);
}

body.dark .theme-btn {
   background: #161b22;
   color: white;
}

/* QR result box */
.qr-box {
   margin-top: 10px;
   min-height: 190px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 10px;
}

.qr-box img {
   animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
   from {
      opacity: 0;
      transform: scale(0.85);
   }
   to {
      opacity: 1;
      transform: scale(1);
   }
}
